*{
  margin:0;
  padding: 0;
}

html, body,.container{
  background-image: url(../img/Landscape.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.containerKitten{
  width: 40%;
  margin: auto;
}
.kitten{
  width:100%;
}

.containerKitten>img:nth-child(2), img:last-child{
  display: none;
}

@media(max-width:1024px){
  .container{
    background-image: url(../img/dawn.png);
  }
}
@media(max-width:768px){
  .container{
    background-image: url(../img/dawn.png);
  }
  .containerKitten>img:first-child, img:last-child{
    display: none;
  }
  .containerKitten>img:nth-child(2){
    display: block;
  }
}
@media(max-width: 480px){
  .container{
    background-image: url(../img/midnight-conversation_861064.jpg);
  }
  .containerKitten>img:nth-child(2){
    display: none;
  }
  .containerKitten>img:last-child{
    display: block;
  }
}
@media(max-width: 320px){
  .container{
    background-image: url(../img/maxresdefault.jpg);
  }
  .containerKitten>img:nth-child(2){
    display: none;
  }
  .containerKitten>img:last-child{
    display: block;
  }
}
